[Unit]
Description=MyWebApp Docker Container
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/opt/mywebapp/.env
Restart=always
ExecStartPre=-/usr/bin/docker rm -f mywebapp
ExecStartPre=/usr/bin/docker pull ghcr.io/${GH_USER}/fantastic-giggle:${IMAGE_TAG}
ExecStart=/usr/bin/docker run --name mywebapp -p 5000:5000 ghcr.io/${GH_USER}/fantastic-giggle:${IMAGE_TAG}

[Install]
WantedBy=multi-user.target